@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-weight: 900;
}
.input-with-icon-container {
    position: relative;
  }
  
  .input-with-icon-container span {
    position: absolute;
    top: 55%;
    cursor: pointer;
    right: 18px;
    display: block;
  }
  
.subtitle{
    color: #5D5D5B;
}

.label-text{
    font-weight: 600;
}