@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2 {
  font-weight: 900;
}

.input-with-icon-container {
  position: relative;
}

.input-with-icon-container span {
  position: absolute;
  top: 55%;
  cursor: pointer;
  right: 18px;
  display: block;
}

.subtitle {
  color: #5d5d5b;
}

.label-text {
  font-weight: 600;
}

.avatar {
  border-radius: 50%;
  background-color: #5d5d5b;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  object-fit: cover;
  transition: filter 0.15s ease-in-out;
  color: #fff;
}

.avatar-mini {
  border-radius: 50%;
  background-color: #5d5d5b;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  object-fit: cover;
  outline: white 4px solid;
  color: #fff;
  font-size: 0.7rem;
}

.avatar-large {
  border-radius: 50%;
  background-color: #5d5d5b;
  height: 250px;
  width: 250px;
  line-height: 250px;
  text-align: center;
  object-fit: cover;
  outline: white 4px solid;
  color: #fff;
  font-size: 5.5rem;
}

.avatar-mid {
  border-radius: 50%;
  background-color: #5d5d5b;
  height: 50px;
  width: 50px;
  min-width: 50px;
  line-height: 50px;
  text-align: center;
  object-fit: cover;
  color: #fff;
  font-size: 1.2rem;
}

.subtask-item .avatar-mini {
  outline-color: #d9ebff;
}
.avatar:hover {
  filter: opacity(80%);
}

.teams-wrapper {
  overflow-x: auto;
}

/* Stylizowanie całego paska przewijania */
::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* szerokość paska przewijania */
}

/* Stylizowanie tła paska przewijania (ścieżki, po której porusza się kciuk) */
::-webkit-scrollbar-track {
  background: #f5f5f5; /* kolor tła */
  border-radius: 4px;
}

/* Stylizowanie elementu przewijania (kciuka) */
::-webkit-scrollbar-thumb {
  background: rgb(224, 224, 224); /* kolor kciuka */
  border-radius: 4px;
}

/* Zmiana koloru kciuka paska przewijania podczas najechania lub przyciśnięcia */
::-webkit-scrollbar-thumb:hover {
  background-color: #ababab; /* kolor kciuka przy najechaniu */
}

.ellipsis {
  overflow: hidden; /* Ukryj tekst, który się nie mieści */
  white-space: nowrap; /* Zapobiegaj przenoszeniu tekstu do nowej linii */
  text-overflow: ellipsis; /* Dodaj trzy kropki, gdy tekst jest za długi */
}

.team-creation-date {
  line-height: 100%;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  background-color: #1271fb;
  border-bottom-color: transparent;
}

.team-creation-date-header {
  font-size: 0.7rem;
}

.team-item-container {
  width: 16rem;
  transition: filter 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.team-item-container:hover {
  filter: brightness(90%);
}

.num-of-hidden-users {
  font-weight: 500;
  font-size: 0.8rem;
  color: #adb5bd;
}

.mini-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #adb5bd;
}

.team-item-header {
  font-weight: 900;
}

.team-card-divider {
  margin: 5px 0;
  color: #828282;
}

.progress {
  width: 100%;
  height: 8px;
}

.icon-btn {
  cursor: pointer;
}

.chat-item-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.chat-item-subtitle {
  color: #5d5d5b;
}

.chat-item,
.task-select-user {
  cursor: pointer;
}
.chat-item-not-active:hover,
.task-select-user:hover {
  background-color: #f5f5f5;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 100%;
  width: 100%;
}

.images-container {
  display: flex;
  padding-top: 5px;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%; /* Ensures the container doesn't exceed the width of its parent */
}

.image-container {
  flex: 0 0 auto;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  max-width: 100%;
}

.chat-list {
  width: 300px;
  height: 100%;
}

.exclamation-icon {
  height: 18px;
  width: 18px;
}

.task-priority,
.task-progress,
.progress-number,
.deadline-text,
.member-status {
  font-size: 0.9rem;
  color: #828282;
}

.progress-icon {
  border: 3px solid;
  padding: 4px;
  border-radius: 50%;
  margin-right: 2px;
}

.task-in-progress {
  border-color: #ffc107;
}
.task-done {
  border-color: #24a148;
}

.task-late {
  border-color: #dc3545;
}

@media (max-width: 768px) {
  .chat-list {
    width: 100%;
    border-width: 0 !important;
  }
}

.image-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #e7e7e7;
}

.upload-btn {
  border: dashed 1px;
}

.edit-btn {
  color: #5d5d5b;
  cursor: pointer;
  padding: 8px;
  border-radius: 12px;
  width: 120px;
  transition: background-color 0.2s ease-in;
}

.edit-btn:hover {
  background-color: #e7e7e7;
}

.disabled-text {
  color: #ababab;
}

.close-btn {
  position: absolute;
  top: -10px;
  left: 30px;
  border: none;
  color: white;
  background-color: #1271fb;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  box-shadow: 0px 0px 6px #5d5d5b;
  cursor: pointer;
  padding: 8px;
}

.chat-back-btn {
  display: flex;
  cursor: pointer;
}

.text-input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

.message-content {
  border-radius: 0 12px 12px 12px;
  background-color: #e0e0e0;
  max-width: 70%;
  white-space: pre-wrap;
  word-break: break-all;
}

.owner {
  flex-direction: row-reverse;
}

.owner .message-content {
  color: #fff;
  background-color: #1271fb;
  border-radius: 12px 0 12px 12px;
}

.messages-container {
  overflow-y: auto;
}

.message-img {
  height: 200px;
  border-radius: 12px;
  background-color: #5d5d5b;
}

.img-fluid {
  width: 100%;
}

.chat-active {
  background-color: #d9ebff;
}

.task-item,
.team-member-item,
.shift-item {
  background-color: #fbfbfb;
  transition: background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-overflow: ellipsis;
  overflow: hidden;

}

.shift-item {
  background-color: #1271fb;
  color: white;
  transition: background-color 0.15s ease-in-out;
}

.shift-item .hours{
  color:rgba(255, 255, 255, 0.6);
  text-overflow: ellipsis;
  overflow: hidden;
}

.shift-item:hover {
  background-color: #126ffbc4;
}

.task-item:hover,
.team-member-item:hover {
  background-color: #f1f1f1;
}

.add-subtask {
  overflow: auto;
}

.subtask-tile {
  padding: 8px 0;
}

.subtask-list-add {
  list-style-type: none; /* Usunięcie domyślnych punktorów */
  padding: 0;
  max-height: 70vh;
  min-height: 200px;
  overflow: auto;
  counter-reset: custom-counter; /* Resetowanie niestandardowego licznika */
}

.subtask-item {
  display: flex;
  background-color: #d9ebff;

  outline-color: #d9ebff;
}
.subtask-list-add .subtask-item {
  padding: 10px;
  border-radius: 6px;
}
.subtask-list-add li {
  list-style-position: inside;
  counter-increment: custom-counter; /* Inkrementacja licznika */
  position: relative;
  display: flex;
}

.subtask-btn {
  text-decoration: underline;
  cursor: pointer;
}

.subtask-list-add li:before {
  content: counter(custom-counter) ''; /* Formatowanie numeru */
  text-align: center;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1271fb;
  border-radius: 13px;
  color: white;
  font-size: 0.8rem;
  margin-right: 10px;
  font-weight: bold; /* Styl czcionki numeru */
}

.divider {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}

.divider span {
  background-color: #fff;
  color: #828282;
  padding-right: 10px;
}

.show-less-more {
  cursor: pointer;
  color: #828282;
}

.lack-of-data {
  font-style: italic;
  color: #5b5b5d;
}

input[type='checkbox'] {
  height: 25px;
  width: 25px;
}

input[type='checkbox'] + label {
  line-height: 30px;
  margin-left: 10px;
}

.dropdown-toggle {
  color: #828282;
}

.today {
  background-color: #d9ebff !important;
  color: #1271fb;
}

.today span {
  color: #1271fb;
}

.text-muted {
  color: #bebebe !important; /* Bootstrapowa klasa do wyszarzenia tekstu */
}

.calendar-dom {
  font-size: 2rem;
  font-weight: 400;
}

.calendar-dow {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.calendar-month {
  color: #ababab !important;
  font-size: 0.8rem;
  font-weight: 400;
}

.calendar-employees-header,
.table-month-view th {
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: 500;
}

table {
  border-collapse: collapse !important;
  border-style: hidden !important;
  table-layout: fixed;
}

.table-week-view tr th:nth-child(1){
  width: 150px;
}

tr .today {
  color: #1271fb;
}

.highlight{
  background-color: #dcf3e9 !important;
  transition: background-color 0.2s;
}

.table-month-view tbody tr{
  height: 150px;
}


.ooo{
  background-color: #ff9a1f !important;
  transition: background-color 0.15s ease-in-out;
}

.ooo:hover{
  background-color: #ff9a1f9d !important;
}

.vacation{
  background-color: #00D370 !important;
  transition: background-color 0.15s ease-in-out;
}

.vacation:hover{
  background-color: #00d3708a !important;
}

.remove-icon {
    cursor: pointer;
    color: white !important;
}

.tooltip-left-align .tooltip-inner {
    text-align: left;
}

.tooltip-inner .avatar-mini{
  outline-color: #000;
}

.user-info{
  color: #828282;
  font-size: 0.9rem;
}

.shift-item .avatar-mini{
  outline-color:#1271fb;
}

.task-item-calendar{
  box-shadow: none;
  background-color: #ababab;
  color:rgba(255, 255, 255, 0.8);
}

.shift-item .avatar-mini {
  outline-color: transparent; 
}

.submenu-item{
  font-size: 0.9rem;
  padding-bottom: 5px;
}

